Flask==2.2.5
Flask-Babel==3.0.0
Flask-Login==0.6.3
Flask-Migrate==4.0.7
flask-sqlalchemy==3.0.5
Flask-WTF==1.1.1
SQLAlchemy==2.0.31
requests==2.25.1
Werkzeug==2.2.3
WTForms==3.0.1
bleach==6.0.0
gunicorn==22.0.0
